{% extends 'base.html.twig' %}

{% block title %}Mon compte - myShop{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success">
            {% for message in app.flashes('mdpModifie') %}
                {{message}}
            {% endfor %}
        </div>

        <h1>Bienvenue {{app.user.firstname}} sur votre espace personnel</h1>
        <hr>
        <a href=" {{path('account_password')}} "> modifier mon mot de passe </a>
    </div>

{% endblock %}
