{% extends 'base.html.twig' %}

{% block title %}Mon compte - myShop{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bienvenue {{app.user.firstname}} sur votre espace personnel</h1>

    </div>

{% endblock %}
