{% extends 'base.html.twig' %}

{% block title %}modifier mon mot de passe - myShop{% endblock %}

{% block content %}
    <div class="container">
        <h1>modifier mon mot de passe</h1>

        {% if notification %}
            <div class="alert alert-danger"> {{notification}}</div> 
        {% endif %}
        <div class="col-md-7">
            {{form(form)}}
        </div>

        <a href=" {{path('account')}} ">retour sur compte</a>
    </div>

{% endblock %}
