{% extends 'base.html.twig' %}

{% block title %}inscription - mon shop {% endblock %}

{% block content %}

    <div class="container">

        <h1>formulaire d'inscription</h1>
        <div class="col-md-7">

            {{form(form)}}

        </div>
        

    </div>
{% endblock %}
